/*

Copyright 2010, Google Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    * Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above
copyright notice, this list of conditions and the following disclaimer
in the documentation and/or other materials provided with the
distribution.
    * Neither the name of Google Inc. nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,           
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY           
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/

.viewpanel-header {
  position: relative;
  background: var(--fill-secondary);
  font-size: 1.3em;
  padding: var(--padding-normal);
  overflow: hidden;
}

.viewpanel-rowrecord, .viewpanel-pagesize, .viewpanel-sorting {
  top: var(--padding-normal);
  padding: 0 10px 0 0;
  float: left;
}

.viewpanel-paging {
  float: right;
}

.viewpanel-pagingcount {
  font-weight: bold;
}

.viewpanel-rowrecord a {
  background-color: var(--fill-primary);
  margin: 0px 1px 0px 1px;
  padding: 2px 5px 2px 5px;
  border-radius: 4px;
}

.viewpanel-pagesize a {
  background-color: var(--fill-primary);
  margin: 0px 2px 0px 2px;
  padding: 2px 3px 2px 3px;
  border-radius: 4px;
}

div.viewpanel-pagesize span:first-of-type {
  margin: 0px 0px 0px 20px;
}

.viewpanel-paging a {
  background-color: var(--fill-primary);
  margin: 0px 4px 0px 4px;
  padding: 2px 10px 2px 10px;
  border-radius: 4px;
}

.viewpanel-paging span#viewpanel-paging-current {
  margin: 0 10px 0 10px;
  padding: 0px;
}

.viewpanel-paging input#viewpanel-paging-current-input {
  width: 60px;
  margin: 0px;
  padding: 0px;
  height: 16px;
  position: relative;
  top: -2px;
}

.data-table-header {
  width: 1px;
  position: relative;
  background: var(--fill-primary);
}

.data-table-container {
  overflow: auto;
  border-top: 1px solid var(--chrome-primary);
}

.data-table-header, .data-table {
  margin: 0;
  padding: 0;
  font-size: 1.05em;
  border-collapse: separate;
  width: max-content;
  padding-right: 3em;
}

.data-table td, .data-table-header td, .data-table-header th {
  padding: 2px 5px;
}

.data-table td {
  border-bottom: 0.02rem dotted #ddd;
  border-right: 0.02rem solid #ddd;
  position: relative;
  max-width: 300px;
}

.data-table-header td, .data-table-header th, th.column-header {
  border-bottom: 0.02rem dotted var(--chrome-primary);
  border-right: 0.02rem solid var(--chrome-primary);
}

table {
  position: relative;
}

th.column-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

th.column-group-header {
  position: relative;
}

th {
  text-align: left;
}

.column-header-title {
  overflow: hidden;
  text-overflow: clip;
}

th .column-header-resizer-left, th .column-header-resizer-right {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: col-resize;
  width: 6px;
}

th .column-header-resizer-left {
  right: 0;
}

th .column-header-resizer-right {
  left: 0;
}

table.data-header-table>tbody>tr>td {
  overflow: hidden !important;
}

table>thead>tr>th {
  overflow: hidden !important;
}

table.data-table>tbody>tr.odd>td {
  background: var(--fill-secondary);
}

table.data-table>tbody>tr.contextual>td>div {
  opacity: 0.3;
}

table.data-table-header td.column-header, table.data-table-header th.column-header,
table.data-table td.column-header, table.data-table th.column-header {
  vertical-align: top;
  white-space: nowrap;
  padding: 4px 6px 4px 4px;
  border-bottom: none;
  font-weight: bold;
}

/* For the preview in the importing stage */
table.data-table td.column-header, table.data-table th.column-header {
  background: var(--fill-primary);
  border-bottom: 0.12rem solid var(--chrome-primary);
}

.column-header-name {
  padding: 4px 0 0 0;
  display: inline-block;
  position: initial;
}

th.resized-column .column-header-name {
  position: absolute;
}

.column-header-menu {
  display: inline-block;
  margin: 0 4px 0 0;
  width: 17px;
  height: 19px;
  background-image: url(../../images/menu-dropdown-ry.png);
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  vertical-align: top;
}

.column-header-menu-expand {
  transform: rotate(-0.25turn);
}

.column-header-menu:hover {
  background-position: -17px 0px;
}

.container-of-logo-and-statsbar {
  display: grid;
  grid-template-columns: max-content auto;
  width:100%;
 }
 
.column-header-recon-stats-bar {
  margin-top:4px;
  height: 6px;
  background: #ddd;
  border: 1px solid #ccc;
  position: relative;
  width: 100%;
}
    
.serviceLogo {
  width: 19px;
  height: 21px;
}

.column-header-recon-stats-matched {
  position: absolute;
  height: 100%;
  background: var(--green-primary);
}

.column-header-recon-stats-blanks {
  position: absolute;
  height: 100%;
  background: var(--green-secondary);
}

div.data-table-cell-content {
  line-height: 1.2;
  color: #222;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

div.data-table-cell-content-numeric {
  text-align: right;
}

.data-table-cell-edit {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  color: var(--background-primary);
  background-color: var(--chrome-primary);
  padding: 2px 3px;
  border-radius: 3px;
  font-weight: bold;
  line-height: normal;
  font-size: 100%;
  border: none;
  cursor: pointer;
}

.data-table-cell-edit:hover
.data-table-cell-edit:focus {
  background-color: var(--link-secondary);
}

div.data-table-cell-content-numeric>a.data-table-cell-edit {
  left: 0px;
  right: auto;
}

.data-table-value-nonstring {
  color: #282;
}

.data-table-null {
  color: #aaa;
  display: none;
}

.data-table-error {
  color: var(--error-red);
}

div.data-table-recon-candidates {
  padding: 1px 0;
  min-width: 15em;
  color: var(--text-tertiary);
}

div.data-table-recon-candidate {
  padding: 1px 35px 1px;
  position: relative;
}

a.data-table-recon-topic {
  color: var(--link-secondary);
}

.data-table-recon-score, .data-table-recon-new {
  color: #aaa;
  margin: 0 0.5em;
}

a.data-table-recon-action, .data-table-recon-extra>a, .data-table-recon-visibility>a {
  text-decoration: none;
  color: var(--link-secondary);
}

.data-table-recon-visibility{
  font-size: 0.8em;
}
.data-table-recon-extra,.data-table-recon-visibily {
  display: inline;
  margin: 3px 0 0;
}

a.data-table-recon-action{
  font-size: 0.8em;
  display: block;
  margin: 3px 0 0;
}


a.data-table-recon-match, a.data-table-recon-match-similar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('../../images/checks-map-ry.png');
  background-repeat: no-repeat;
  background-position: -16px 0;
  text-decoration: none;
}

a.data-table-recon-match:hover {
  background-position: 0 0;
}

a.data-table-recon-match-similar {
  background-position: -16px -16px;
  left: 16px;
}

a.data-table-recon-match-similar:hover {
  background-position: 0 -16px;
}

a.data-table-star-on, a.data-table-star-off, a.data-table-flag-on, a.data-table-flag-off {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('../../images/star-flag-map-ry.png');
  background-repeat: no-repeat;
  text-decoration: none;
}

a.data-table-star-on {
  background-position: 0 0;
}

a.data-table-star-off {
  background-position: -17px 0;
}

a.data-table-flag-on {
  background-position: 0 -17px;
}

a.data-table-flag-off {
  background-position: -17px -17px;
}

.data-table-cell-editor, .data-table-topic-popup {
  border: 1px solid var(--chrome-primary);
  background: var(--chrome-secondary);
  padding: var(--padding-tight);
  border-radius: var(--rounded-corners-radius);
}

.data-table-topic-popup {
  z-index: 1010;
  position: fixed;
  line-height: 1;
  white-space: initial;
}

.data-table-topic-popup-header {
  padding: 0 0 5px;
}

.data-table-cell-editor-editor {
  display: block;
  min-width: 392px;
  min-height: 3em;
  line-height: 1.1;
  font-family: monospace;
  margin: 3px 0px;
}

.data-table-cell-editor {
  min-width: fit-content;
}

.data-table-cell-editor-action {
  float: left;
  vertical-align: bottom;
  text-align: center;
}

.data-table-cell-editor-key {
  font-size: 0.8em;
  color: var(--light-grey);
}

.set-httpheaders-container label {
  display: inline-block;
  width: 15%;
  text-align: left;
}

.set-httpheaders-container input {
  display: inline-block;
  width: 50%;
}

ul.sorting-dialog-blank-error-positions {
  margin: 0;
  padding: 5px;
  height: 10em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

ul.sorting-dialog-blank-error-positions>li {
  display: block;
  border: 1px solid #ccc;
  background: #eee;
  padding: 5px;
  margin: 2px;
  cursor: move;
  border-radius: 3px;
}

.sheet-tabs-container {
  background: var(--fill-secondary);
  border-bottom: 2px solid var(--chrome-primary);
  padding: 5px 10px;
  overflow-x: auto;
}

.sheet-tab-list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.sheet-tab {
  padding: 8px 16px;
  background: var(--fill-primary);
  border: 1px solid var(--chrome-secondary);
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  user-select: none;
}

.sheet-tab:hover {
  background: var(--fill-tertiary);
  border-color: var(--chrome-primary);
}

.sheet-tab.active {
  background: var(--fill-secondary);
  border-color: var(--chrome-primary);
  border-bottom-color: var(--fill-secondary);
  font-weight: 600;
}

.preview-tab-container {
  background: var(--fill-secondary);
  border-bottom: 2px solid var(--chrome-primary);
  padding: 8px 12px 0 8px;
  margin-bottom: 1px;
}

.preview-tab-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.preview-tab {
  padding: 6px 14px;
  background: var(--fill-primary);
  border: 1px solid var(--chrome-secondary);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
  font-size: 0.95em;
  transition: all 0.2s ease;
}

.preview-tab:hover {
  background: var(--fill-tertiary);
  border-color: var(--chrome-primary);
}

.preview-tab.active {
  background: var(--fill-secondary);
  border-color: var(--chrome-primary);
  border-bottom-color: var(--fill-secondary);
  font-weight: 600;
}

.option-tab-container {
  background: var(--fill-secondary);
  border-bottom: 2px solid var(--chrome-primary);
  padding: 8px 12px 0;
}

.option-tab-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.option-tab {
  padding: 6px 14px;
  background: var(--fill-primary);
  border: 1px solid var(--chrome-secondary);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
  font-size: 0.95em;
  transition: all 0.2s ease;
}

.option-tab:hover {
  background: var(--fill-tertiary);
  border-color: var(--chrome-primary);
}

.option-tab.active {
  background: var(--fill-secondary);
  border-color: var(--chrome-primary);
  border-bottom-color: var(--fill-secondary);
  font-weight: 600;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: var(--fill-primary);
  border: 2px solid var(--chrome-primary);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid var(--chrome-secondary);
  background: var(--fill-secondary);
}

.modal-header h3 {
  margin: 0;
  font-size: 1.2em;
  color: var(--text-primary);
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--text-secondary);
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.close-button:hover {
  background: var(--fill-tertiary);
  color: var(--text-primary);
}

.modal-body {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

.sheet-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sheet-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background: var(--fill-primary);
  border: 1px solid var(--chrome-secondary);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sheet-item:hover {
  background: var(--fill-tertiary);
  border-color: var(--chrome-primary);
  transform: translateX(4px);
}

.sheet-item input[type="checkbox"] {
  margin-right: 12px;
  cursor: pointer;
}

.sheet-item label {
  flex: 1;
  cursor: pointer;
  font-size: 0.95em;
  color: var(--text-primary);
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 16px 20px;
  border-top: 1px solid var(--chrome-secondary);
  background: var(--fill-secondary);
}

.modal-footer .button {
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.95em;
  transition: all 0.2s ease;
}

.modal-footer .button.primary {
  background: var(--chrome-primary);
  color: var(--text-on-color);
  border: none;
}

.modal-footer .button.primary:hover {
  opacity: 0.9;
}

.modal-footer .button:not(.primary) {
  background: var(--fill-primary);
  border: 1px solid var(--chrome-secondary);
  color: var(--text-primary);
}

.modal-footer .button:not(.primary):hover {
  background: var(--fill-tertiary);
  border-color: var(--chrome-primary);
}

.sheet-option-container {
  padding: 12px;
  background: var(--fill-primary);
  border: 1px solid var(--chrome-secondary);
  border-radius: 6px;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sheet-option-container .grid-layout {
  flex: 1;
  min-width: 300px;
}

.sheet-options-content {
  padding: 12px;
  background: var(--fill-primary);
  border: 1px solid var(--chrome-secondary);
  border-radius: 6px;
}

#option-tab-row {
  background: var(--fill-secondary);
  padding: 12px;
  border-top: 1px solid var(--chrome-secondary);
}
